
*{
    padding: 0;
    /* font-family:"gilroy-normal"; */
    box-sizing: border-box;
}

.main-container-top{
    max-width: 1440px;
    margin: 0 auto;
    height:1140px;
}
.sec-container{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    /* width: 1440px; */
    /* height: 700px; */
    

}
.inner-container {
    background-color: #F1F1F2;
    box-sizing: border-box;
    flex: 0 0 50%;
    /* height: 700px;
    width: 721px; */
}

.text-aera .muxture {
    width: 60%;
    margin: auto;
    box-sizing: border-box;
}
.muxture{
    padding-top: 147px;
    padding-left: 138px;
    padding-right: 140px;
    line-height: 59px;
}
.muxture1{
    padding-top: 120px;
    padding-left: 138px;
    padding-right: 140px;
    line-height: 59px;

}
.h1-text {
    font-size: 48px;
    font-weight: 640;
}
.p-text{
    font-size: 15px;
}
.text-new{
    padding-top:40px ;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 45px;
}
.text-new1{
    padding-top:35px ;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 45px;

}
.btn-1{
    background-color:#F7941E ;
    color: #F1F1F2;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
   
}
.part-3-main-gigt{
    padding-top: 30px;
    align-items: center;
}

.heading{
    font-size: 32px;
    align-items: center;
}
.btn-1:hover{
 background-color: #F1F1F2;
 color: #F7941E;
 border: 1px solid #F7941E;
 padding: 15px 25px 15px 25px;
    border-radius: 5px;
}
/* ,,,,,........................................,,,, */
@media screen and (min-width :1115px){
    .main-container-top{
        max-width: 1440px;
        margin: 0;
    }
    .sec-container{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
    }
    .inner-container{
        display: flex;
    }
    .h1-text{
        font-size: 30px;
    }
}

  


 @media screen and (max-width: 1115px) {
    .muxture1{
        padding-top: 70px;
        padding-left: 120px;
        padding-right: 100px;
        padding-bottom: 30px;
      
     }
     .text-new1{
       padding-top: 20px;
     }
     .muxture{
        padding-top: 100px;
        padding-left: 120px;
        padding-right: 100px;
        padding-bottom: 30px;
      
     }
     

 }

 @media screen and (max-width: 950px) {
    .muxture1{
        padding-top: 50px;
        padding-left: 60px;
        padding-right: 50px;

    }

 }
 @media screen and (max-width: 1115px) {
    .h1-text{
        padding-top: -20px;
        font-size: 30px;
        line-height: 39px;
    }
    .text-new1{
        font-size: 15px;
        padding-bottom: 10px;
        padding-top: 12px;
    }
    .text-new{
        font-size: 15px;
    }
  
 }
 @media screen and (min-width: 1100px) {
    .h1-text{
       
        font-size: 20px;
    }
    .text-new1{
        font-size: 20px;
        padding-bottom: 30px;
    }
    .text-new{
        font-size: 20px;
    }
    .h1-text {
        font-size: 48px;
        font-weight: 640;
        line-height: 59px;
    }
   
 }
 @media screen and (max-width: 810px) {
    .inner-container{
        /* display: block; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
    }
    .muxture{
        padding-top: 80px;
        padding-left: 70px;
        padding-right: 80px;

    }
    .muxture1{
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 50px;

    }
    .main-container-top{
        height: 500px;
    }
 }
 /* @media screen and (max-width: 739px) {
      .column1{
flex-direction: column;
      }
 } */
 @media screen and (max-width: 793px) {
    .muxture{
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .muxture1{
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px; 
    }
    .h1-text{
        font-size: 25px;
    }
    .text-new{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .text-new1{
        padding-top: 6px;
    }
    .btn-1{
        padding: 10px;
    }
 }

 @media screen and (max-width: 907px) {
      .inner-container{
        display: contents;
        flex-direction: column;
      }
      .inner-container img{
        height: 700px;
        width: 100%;
      }
      .sec-container{
        background-color: #F1F1F2;
      }
     .sec-container1{
        display: flex;
        flex-direction:column-reverse;
        background-color: #F1F1F2;
      }
      .muxture{
        padding-top: 20px;
        padding-left:170px;
        padding-right: 270px;
      }
     .text-new{
        padding-top: 30px;
        padding-bottom: 30px;
     }
      .muxture1{
        padding-top: 20px;
        padding-left:170px;
        padding-right: 260px;
      }
      .text-new1{
        padding-bottom: 20px;
      }
    }
/* 
 @media screen and (min-width: 800px) {
   .inner-container{
    display: flex;
    height: 700px;
    width: 100%;
   }
 } */
